{% extends '_base.html' %}

{% block title %}<title>Orders</title>{% endblock title %}


{% block content %}
<div class="jumbotron">
    <h1>Get instant access to full resolution images</h1>
    <h3>For only a one time payment of $ 10,00<h3>
            <br>
            <div class="center">
                <form action="{% url 'charge' %}" method="post"></form>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripe_key }}"
                    data-description="Premium Images" data-amount="1000" data-locale="auto">
                    </script>
            </div>
</div>
<h3>NOTICE</h3>
<p>As this is just a test site no charges can actually be made</p>
<p>Just use a valid random email, credit card number "4242 4242 4242 4242",
    current month and year and 123 in the CCV so you can download
    the images in full resolution
</p>
{% endblock content %}